* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: monospace;
}
.outer-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 70%;
    margin: 5%
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.accordion {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    color:rgb(97, 40, 83);
}
.item-header {
    cursor: pointer;
    color: rgb(162, 162, 241);
    font-size: 2rem;
    border-top: 0.02rem solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-between;
}
.item-header:nth-child('odd'){
    background-color: aquamarine;
}
input[type="radio" i]{
    opacity: 0;
    height: 0;
    visibility: hidden;
}
.open  {
    width: 6%;
    opacity: 0;
    transition: all 0.5s ease-in;
}
.item-content {
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease-in;
    max-height: 0;
    cursor: pointer;
    text-align: center;
}

.item-content img {
    max-width: 60%;
}
.accordion input:checked ~ .item-content {
    opacity: 1;
    max-height: 100vh;
    transition: all 1s ease-in;
}
.accordion input:checked  ~ .item-header {
    color: rgb(8, 8, 8);
}
.item:active .accordion .item-header {
    color: rgb(172, 139, 139);
}
.item:active .accordion .item-header .open  {
    background-image: url('./images/close2.svg');
    transition: all 0.5s ease-in;
}
.item:active .accordion .item-content img {
    filter: grayscale(50%);
}
.accordion input:checked  + .item-header .open {
    background-image: url('./images/close.svg');
    transition: all 0.5s ease-in;
    /* opacity: 1; */
}
.item:checked .accordion .item-header .open  {
    opacity: 1;
}
  @media screen and (min-width: 1000px) and (hover:hover) {
    .accordion input:hover  ~ .item-header {
        color: rgb(8, 8, 8);
    }
    .item-conteiner:hover  .item-header .open {
        opacity: 1;
    }
    .accordion input:hover  + .item-header .open{
        background-image: url('./images/close.svg');
        transition: all 0.5s ease-in;
    }
    .accordion input:hover ~ .item-content {
        opacity: 1;
        max-height: 100vh;
        transition: all 1s ease-in;
    } 
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .container {
        max-width: 70%;
    }
    .open  {
        width: 6%;
        opacity: 1;
    }
    h1 {
        font-size: 2rem;
    }
    .item-header {
        font-size: 1.5rem;
    }
    .item-content img {
        max-width: 50%;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 599px){
    .container {
        max-width: 90%;
    }
    h1 {
        font-size: 1.5rem;
    }
    .item-header {
        font-size: 1rem;
    }
    .open  {
        width: 8%;
        background-size: 1rem;
        opacity: 1;
    }
    .item-content img {
        max-width: 60%;
    }
  }